{% extends 'base.html.twig' %}

{% block title %}{{ teams.name }}{% endblock %}

{% block body %}
    <div class="teams_description flex flex-col justify-center pt-2">
        <div class="flex inline-flex item-start">
            <a class="w-2/5 no-underline" href="/"><h1 class="cursor-pointer h-12 w-12 uppercase border-2 border-blue text-blue hover:bg-blue hover:text-white text-center leading-tight rounded-full"> < </h1></a>
            <h1 class="w-3/5 uppercase">{{ teams.name }}</h1>
        </div>
        <h3 class="text-center">Matches history</h3>
        {% if matches|length > 0 %}
            <div class="flex inline-flex justify-around">
                <h1><span class="text-green">{{ resultMatches[0]  }}</span> : <span class="text-red">{{ resultMatches[1] }}</span> : <span class="text-grey">{{ resultMatches[2] }}</span></h1>
                {% set winrate = ((resultMatches[0] +  resultMatches[2] * 0.5) / (resultMatches[0] + resultMatches[1] + resultMatches[2]))*100  %}
                <h1>
                    <span>Winrate :</span>
                    <span class="text-red
                {% if winrate >  25 %}
                text-orange-dark
                {% if winrate >=  50 %}
                text-yellow-dark
                {% if winrate >=  75 %}
               text-green-dark
                {% endif %}
                {% endif %}
                {% endif %}
                ">{{ winrate }} %</span>
                </h1>

            </div>
        {% else %}
            <h1> This team has no match history</h1>
        {% endif %}
        {% for match in matches %}
            <div class="team--item bg-grey-lighter flex inline-flex justify-around p-3 m-3">
                {% if match.winner == 0 %}
                    <h1 class="text-grey">Tie</h1>
                {% elseif(( match.id_team1 == teams.id and match.winner == 1) or(match.id_team2 == teams.id and match.winner == 2))%}
                    <h1 class="text-green">Win</h1>
                {% else %}
                    <h1 class="text-red">Loose</h1>
                {% endif %}
                <h1> VS </h1>
                <h1> {{ name[loop.index - 1] }} </h1>
            </div>
        {% endfor %}
    </div>
{% endblock %}